# Check if docs are up to date. diff returns a non-zero exit code if the stashed
# file differs from the regenerated one.
name: check-docs

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  check-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Check for docs diff
        run: |
          cp docs/index.html docs/committed.html
          make -B docs
          diff docs/index.html docs/committed.html
