name: static-analysis

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up flake8 annotations
      uses: rbialon/flake8-annotations@v1
    - name: Set up ruff
      uses: astral-sh/ruff-action@v3
    - run: make lint
    - run: make format
  audit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Audit dependencies
      run: |
        make -B audit
